/* Estilo para los encabezados*/
h1 {
    color: #007bff;
    font-size: 24px;
}
/* Estilo para los párrafos*/
p {
    color: #474747;
    font-size: 16px;
}
/* Estilo para los enlaces*/
a {
    color: #23e8d1;
    text-decoration: none;

}